{"configSettings":[{"appID":"SharedServerToken","serverToken":"3BZDIS3WCUR3RAG5HTCYUMLUHUZ72E5H"},{"appID":"772944227615509","serverToken":"S7W6DX3V4BY6Y7WZ32T2DT4YSLQZQSYP"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"3464765823739642","serverToken":"RGXN3ALDJEATPSAN6M2BMRV7U5DKB4WU"},{"appID":"1384414432517837","serverToken":"3BZDIS3WCUR3RAG5HTCYUMLUHUZ72E5H"}]}